In [10]:
%load_ext autoreload
%autoreload 2

In [1]:
from lyrics_trends.scripts.fetch_billboard import load_and_clean_billboard

csv_path = 'lyrics_trends/data/raw/hot-100-current.csv'
df = load_and_clean_billboard(csv_path)
print(df.head())

   chart_date  year  rank         song_title  \
0  1958-08-04  1958     1   Poor Little Fool
1  1958-08-04  1958     2           Patricia
2  1958-08-04  1958     3      Splish Splash
3  1958-08-04  1958     4  Hard Headed Woman
4  1958-08-04  1958     5               When

                               artist   song_title_clean  \
0                        Ricky Nelson   poor little fool
1       Perez Prado And His Orchestra           patricia
2                         Bobby Darin      splish splash
3  Elvis Presley With The Jordanaires  hard headed woman
4                         Kalin Twins               when

                         artist_clean
0                        ricky nelson
1       perez prado and his orchestra
2                         bobby darin
3  elvis presley with the jordanaires
4                         kalin twins

In [8]:
df.sort_values(by='chart_date', ascending=False).head()

,chart_date,year,rank,song_title,artist
18226,2025-06-28,2025,27,Sorry I'm Here For Someone Else,Benson Boone
18236,2025-06-28,2025,37,Burning Blue,Mariah The Scientist
18225,2025-06-28,2025,26,I Got Better,Morgan Wallen
18227,2025-06-28,2025,28,Mystical Magical,Benson Boone
18228,2025-06-28,2025,29,Undressed,sombr