# Test Kaggle top 100 Billboard

### Data up to 2021

In [1]:
import kagglehub

/opt/homebrew/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [4]:
kagglehub?

In [5]:
# Download latest version
path = kagglehub.dataset_download("thedevastator/billboard-hot-100-audio-features")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/thedevastator/billboard-hot-100-audio-features?dataset_version_number=1...

100%|███████████████████████████████████████████████████████████████| 13.4M/13.4M [00:03<00:00, 4.48MB/s]

Extracting files...

Path to dataset files: /Users/manuelalvarez/.cache/kagglehub/datasets/thedevastator/billboard-hot-100-audio-features/versions/1

In [11]:
import os 

dataset_folder_path_1 = "/Users/manuelalvarez/.cache/kagglehub/datasets/thedevastator/billboard-hot-100-audio-features/versions/1"
hot_stuff_data = os.path.join(dataset_folder_path_1, "Hot Stuff.csv")
features_data = os.path.join(dataset_folder_path_1, "Hot 100 Audio Features.csv")

## features_data

In [12]:
import pandas as pd

df_hs = pd.read_csv(hot_stuff_data)

In [18]:
df_sorted_date_asc.head()

,index,url,WeekID,Week Position,Song,Performer,SongID,Instance,Previous Week Position,Peak Position,Weeks on Chart
68947,68947,http://www.billboard.com/charts/hot-100/1966-0...,1/1/1966,1,The Sound Of Silence,Simon & Garfunkel,The Sound Of SilenceSimon & Garfunkel,1,5.0,1,7
248727,248727,http://www.billboard.com/charts/hot-100/1966-0...,1/1/1966,87,Love (Makes Me Do Foolish Things),Martha & The Vandellas,Love (Makes Me Do Foolish Things)Martha & The ...,1,91.0,87,4
204841,204841,http://www.billboard.com/charts/hot-100/1966-0...,1/1/1966,67,Zorba The Greek,Herb Alpert & The Tijuana Brass,Zorba The GreekHerb Alpert & The Tijuana Brass,1,82.0,67,2
63208,63208,http://www.billboard.com/charts/hot-100/1966-0...,1/1/1966,64,Please Don't Fight It,"Dino, Desi & Billy","Please Don't Fight ItDino, Desi & Billy",1,67.0,64,4
109649,109649,http://www.billboard.com/charts/hot-100/1966-0...,1/1/1966,74,My Love,Petula Clark,My LovePetula Clark,1,90.0,74,2

In [19]:
df_sorted_date_asc.tail()

,index,url,WeekID,Week Position,Song,Performer,SongID,Instance,Previous Week Position,Peak Position,Weeks on Chart
275323,275323,http://www.billboard.com/charts/hot-100/2017-0...,9/9/2017,13,Body Like A Back Road,Sam Hunt,Body Like A Back RoadSam Hunt,1,10.0,6,30
155192,155192,http://www.billboard.com/charts/hot-100/2017-0...,9/9/2017,12,Bank Account,21 Savage,Bank Account21 Savage,1,12.0,12,7
312908,312908,http://www.billboard.com/charts/hot-100/2017-0...,9/9/2017,39,No Promises,Cheat Codes Featuring Demi Lovato,No PromisesCheat Codes Featuring Demi Lovato,1,43.0,39,15
132188,132188,http://www.billboard.com/charts/hot-100/2017-0...,9/9/2017,38,What Ifs,Kane Brown Featuring Lauren Alaina,What IfsKane Brown Featuring Lauren Alaina,1,44.0,38,11
303302,303302,http://www.billboard.com/charts/hot-100/2017-0...,9/9/2017,87,Reminder,The Weeknd,ReminderThe Weeknd,3,76.0,65,16

In [15]:
df_sorted_date_asc = df_hs.sort_values(by='WeekID')

# df_sorted_date_asc["SongID"].unique()

## Check features data for kaggle dataset

In [34]:
df_features.columns

Index(['index', 'SongID', 'Performer', 'Song', 'spotify_genre',
       'spotify_track_id', 'spotify_track_preview_url',
       'spotify_track_duration_ms', 'spotify_track_explicit',
       'spotify_track_album', 'danceability', 'energy', 'key', 'loudness',
       'mode', 'speechiness', 'acousticness', 'instrumentalness', 'liveness',
       'valence', 'tempo', 'time_signature', 'spotify_track_popularity'],
      dtype='object')

In [31]:
df_features.loc[2000]

index                                                                     2000
SongID                              Baby, Don't Be Looking In My MindJoe Simon
Performer                                                            Joe Simon
Song                                         Baby, Don't Be Looking In My Mind
spotify_genre                ['classic soul', 'motown', 'philly soul', 'sou...
spotify_track_id                                        4X8yPSO0mgVVoFOhHAUJT2
spotify_track_preview_url    https://p.scdn.co/mp3-preview/c88796c24870df2b...
spotify_track_duration_ms                                             164586.0
spotify_track_explicit                                                   False
spotify_track_album                                           The Chokin' Kind
danceability                                                             0.688
energy                                                                   0.541
key                                                                        7.0
loudness                                                               -11.177
mode                                                                       1.0
speechiness                                                             0.0381
acousticness                                                             0.673
instrumentalness                                                         0.072
liveness                                                                 0.111
valence                                                                  0.844
tempo                                                                  101.259
time_signature                                                             4.0
spotify_track_popularity                                                   9.0
Name: 2000, dtype: object

In [21]:
import pandas as pd

df_features = pd.read_csv(features_data)

df_features.head()

,index,SongID,Performer,Song,spotify_genre,spotify_track_id,spotify_track_preview_url,spotify_track_duration_ms,spotify_track_explicit,spotify_track_album,...,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,spotify_track_popularity
0,0,-twistin'-White Silver SandsBill Black's Combo,Bill Black's Combo,-twistin'-White Silver Sands,[],NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,¿Dònde Està Santa Claus? (Where Is Santa Claus...,Augie Rios,¿Dònde Està Santa Claus? (Where Is Santa Claus?),['novelty'],NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,......And Roses And RosesAndy Williams,Andy Williams,......And Roses And Roses,"['adult standards', 'brill building pop', 'eas...",3tvqPPpXyIgKrm4PR9HCf0,https://p.scdn.co/mp3-preview/cef4883cfd1e0e53...,166106.0,False,The Essential Andy Williams,...,-14.063,1.0,0.0315,0.91100,0.000267,0.112,0.150,83.969,4.0,38.0
3,3,...And Then There Were DrumsSandy Nelson,Sandy Nelson,...And Then There Were Drums,"['rock-and-roll', 'space age pop', 'surf music']",1fHHq3qHU8wpRKHzhojZ4a,NaN,172066.0,False,Compelling Percussion,...,-17.278,0.0,0.0361,0.00256,0.745000,0.145,0.801,121.962,4.0,11.0
4,4,...Baby One More TimeBritney Spears,Britney Spears,...Baby One More Time,"['dance pop', 'pop', 'post-teen pop']",3MjUtNVVq3C8Fn0MP3zhXa,https://p.scdn.co/mp3-preview/da2134a161f1cb34...,211066.0,False,...Baby One More Time (Digital Deluxe Version),...,-5.745,0.0,0.0307,0.20200,0.000131,0.443,0.907,92.960,4.0,77.0

# Test github top 100 Billboard

In [1]:
dataset_path = "~/Documents/Projects/moodmapper/backend/lyrics_trends/data/raw/hot-100-current.csv"

In [3]:
import pandas as pd

df = pd.read_csv(dataset_path)

In [40]:
df_sorted_date_asc_gh = df.sort_values(by='chart_week')

In [41]:
df_sorted_date_asc_gh.tail()

,chart_week,current_week,title,performer,last_week,peak_pos,wks_on_chart
18228,2025-06-28,29,Undressed,sombr,34.0,25,11
18227,2025-06-28,28,Mystical Magical,Benson Boone,30.0,28,8
18226,2025-06-28,27,Sorry I'm Here For Someone Else,Benson Boone,31.0,27,16
18236,2025-06-28,37,Burning Blue,Mariah The Scientist,40.0,25,7
18299,2025-06-28,100,Falling Apart,Morgan Wallen,87.0,25,5

In [42]:
df_sorted_date_asc_gh.head()

,chart_week,current_week,title,performer,last_week,peak_pos,wks_on_chart
18300,1958-08-04,1,Poor Little Fool,Ricky Nelson,NaN,1,1
18373,1958-08-04,74,Win Your Love For Me,Sam Cooke,NaN,74,1
18372,1958-08-04,73,Hey Girl - Hey Boy,Oscar McLollie and Jeanette Baker,NaN,73,1
18371,1958-08-04,72,Stupid Cupid,Connie Francis,NaN,72,1
18370,1958-08-04,71,Got A Match?,Frank Gallup,NaN,71,1

## Small dataset to perform testing

In [43]:
test_df_gh = df_sorted_date_asc_gh.head()

In [44]:
test_df_gh

,chart_week,current_week,title,performer,last_week,peak_pos,wks_on_chart
18300,1958-08-04,1,Poor Little Fool,Ricky Nelson,NaN,1,1
18373,1958-08-04,74,Win Your Love For Me,Sam Cooke,NaN,74,1
18372,1958-08-04,73,Hey Girl - Hey Boy,Oscar McLollie and Jeanette Baker,NaN,73,1
18371,1958-08-04,72,Stupid Cupid,Connie Francis,NaN,72,1
18370,1958-08-04,71,Got A Match?,Frank Gallup,NaN,71,1

In [45]:
test_df_gh['title_trans'] = test_df_gh['title'].str.strip()
test_df_gh

/var/folders/rh/yvrpkh0j1sz5_xlbzsnz53000000gn/T/ipykernel_76093/1694499777.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df_gh['title_trans'] = test_df_gh['title'].str.strip()

,chart_week,current_week,title,performer,last_week,peak_pos,wks_on_chart,title_trans
18300,1958-08-04,1,Poor Little Fool,Ricky Nelson,NaN,1,1,Poor Little Fool
18373,1958-08-04,74,Win Your Love For Me,Sam Cooke,NaN,74,1,Win Your Love For Me
18372,1958-08-04,73,Hey Girl - Hey Boy,Oscar McLollie and Jeanette Baker,NaN,73,1,Hey Girl - Hey Boy
18371,1958-08-04,72,Stupid Cupid,Connie Francis,NaN,72,1,Stupid Cupid
18370,1958-08-04,71,Got A Match?,Frank Gallup,NaN,71,1,Got A Match?

In [53]:
df_sorted_date_asc_gh['last_week'].isna().sum()

np.int64(32460)

In [55]:
df_sorted_date_asc_gh.shape

(349100, 7)

In [56]:
from backend.lyrics_trends.scripts.fetch_billboard import load_and_clean_billboard

csv_path = 'backend/lyrics_trends/data/raw/billboard_hot_100.csv'
df = load_and_clean_billboard(csv_path)
print(df.head())

ModuleNotFoundError: No module named 'backend'